<div class="container-fluid">
    <div class="row justify-content-sm-center">
        <div class="col-sm-8">
            <h2 class="title">{{vm.title}}</h2>
            <form>
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" ng-model="vm.record.nome" class="form-control">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>CPF/CNPJ</label>
                        <input class="form-control number" id="cad_cpf_cnpj" type="text" name="cpf-cnpj"  onBlur="vm.ValidarCPF(cpf_cnpj)" ng-model="vm.record.cpfCnpj" ui-br-cpfcnpj-mask>
                        <p style="color:red;font-size:10pc !important;display:none">CPF/CNPJ obrigatório</p>
                        <small class="form-text text-muted">Digite um CPF ou CNPJ válido.</small>
                    </div>  

                    <div class="form-group col-md-6">
                        <label>RG/Inscrição Estadual</label>
                        <select ng-init="ufs=['SC']" ng-model="selectedUF" ng-options="uf for uf in ufs"></select>
                        <input type="text" ng-model="vm.record.rgInscrEst" ui-br-ie-mask='selectedUF' class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" ng-model="vm.record.email" class="form-control">
                </div>
                <div class="form-group">
                    <label>Endereço</label>
                    <input type="endereco" ng-model="vm.record.endereco" class="form-control">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label>Cidade</label>
                        <input type="cidade" ng-model="vm.record.cidade" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Telefone</label>
                        <input type="text" ng-model="vm.record.telefone" ui-br-phone-number-mask class="form-control">
                    </div>
                </div>
                <button ng-click="vm.save()" type="button" class="btn btn-primary btn-lg">Salvar Registro</button>
                <a ui-sref="cliente.list" class="btn btn-danger">Cancelar</a>
            </form>
        </div>
    </div>
</div>
